.card {
  display: grid;
  gap: 32px 24px;
  grid-template-columns: 400px 1fr 79px;

  h1 {
    grid-column: 2;
    grid-row: 1;
  }

  .shortDescription {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.descTitle {
  grid-column: 2;
}

.description {
  grid-column: 2;
  grid-column-end: 3;
}

.poster {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 5;
  width: 400px;
  height: 500px;
  border-radius: 8px;
  object-fit: cover;
}
