.item {
  display: grid;
  grid-template-columns: 100px 1fr 79px;
  gap: 24px;
}

.poster {
  width: 100px;
  height: 120px;
  border-radius: 8px;
  object-fit: cover;
  grid-column: 1;
}

.shortDesc {
  grid-column: 2;
}
