.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: block;
  color:  #1B1F23;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
